$navbar-color: #1d1d1d;
$navbar-height: 50px;
main{
  padding-top: $navbar-height;
}

.tkm-navbar{
  margin: 0;padding: 0;
  width: 100%;
  height: $navbar-height;
  background-color: $navbar-color;
  overflow: hidden;
  position: fixed;
  z-index: 999999;
  .logo{
    margin: 0;padding: 0;
    white-space: nowrap;
    text-align: center;
    text-decoration: none;
    color: #fff;
    font-size: 2em;
    line-height: $navbar-height;
    a{
      display: inline-block;
      height: 100%;
    }
  }
  .item-left{
    position: absolute;
    left: .3em;
    top: 50%;
    font-size: 2em;
    margin-top: -.7em;
  }
  .item-right{
    position: absolute;
    right: .3em;
    top: 50%;
    font-size: 2em;
    margin-top: -.7em;
  }
}
.tkm-kv-wrapper{
  height: 500px;
  width: 100%;
  .kv-parallax{
    height: inherit;
    width: inherit;
    background-color: yellow;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 99999;
  }
}
